* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #152b22;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #161515;
    padding: 30px;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline-color: #1a792d;
    outline-width: thick;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #1a792d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-3d {
    color: white;
    transform: translateY(0);
    box-shadow: 0 5px 0 #083f14;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

.btn-3d:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #0d6b21;
}

.status {
    margin-top: 15px;
    font-size: 14px;
}

.loading {
    color: #fcb045;
}

.error {
    color: #ff5252;
}

.success {
    color: #4caf50;
}

footer {
    margin-top: 20px;
    font-size: 11px;
    color: #aaaaaac4;
}

.icon {
    text-decoration: none; 
    color: #fff; 
    font-size: 2em;
}

.icon:hover {
    color: #24a13f;
    transition: color 0.3s;
}

.popupcontent {
    background:#222222d5; 
    backdrop-filter: blur(20px);
    color:#fff; 
    padding:40px 30px; 
    border-radius:16px;
    width: 100%; 
    max-width:420px; 
    text-align: center;
    font-size: 12px;
    position:relative; 
    border: 5px solid;
    border-color: #f7f7f71a;
}

.popup {
    display: none; 
    position: fixed;
    padding: 30px;
    width: 100%;
    max-width: 420px;
    height: 100vh;
    border-radius: 12px;
    justify-content:center; 
    align-items:center;
}

.closePopup {
    margin-top:30px; 
    padding:10px 30px; 
    background:#135a21; 
    color:#f7f7f7; 
    border:none; 
    border-radius:8px; 
    font-weight:bold; 
    cursor:pointer;
}