@import "compass/css3";

@import "compass/css3";
@import "compass/reset";
*{
	@include box-sizing(border-box);
}


* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 220px;
    padding-bottom: 100px;
    background: #152b22;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @include transition(padding-top .5s ease);
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.card {
    background: #161515;
    padding: 30px;
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
}

.card h1 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline-color: #1a792d;
    outline-width: thick;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #1a792d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-3d {
    color: white;
    box-shadow: 0 5px 0 #083f14;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
}

.btn-3d:active {
    transform: translateY(5px);
    box-shadow: 0 0 0 #0d6b21;
}

.status {
    margin-top: 15px;
    font-size: 14px;
}

.loading {
    color: #fcb045;
}

.error {
    color: #ff5252;
}

.success {
    color: #4caf50;
}

footer {
    margin-top: 20px;
    font-size: 11px;
    color: #aaaaaac4;
}

.icon {
    text-decoration: none; 
    color: #fff; 
    font-size: 1.3em;
}

.popupcontent {
    background:#222222d5; 
    backdrop-filter: blur(20px);
    color:#fff; 
    margin: 0;
    padding:40px 30px; 
    border-radius:16px;
    width: 100%; 
    max-width:420px; 
    text-align: center;
    position:relative; 
    border: 5px solid;
    border-color: #f7f7f71a;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    z-index: 9999;
}


.closePopup {
    margin-top:30px; 
    padding:10px 30px; 
    background:#135a21; 
    color:#f7f7f7; 
    border:none; 
    border-radius:8px; 
    font-weight:bold; 
    cursor:pointer;
}

section {
    scroll-margin-top: 220px;
}


header{
	width: 100%;
	height: 150px;
	background-color: #0d1411;
	text-align: center;
	position: relative;
	position: fixed;
	top: 0;
	overflow: hidden;
	nav{
		position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
		bottom: 0;
		height: 60px;
		line-height: 60px;
		width: 100%;
		background-color: rgba(0,0,0,.1);
		a{
			color: #fff;
			display: inline-block;
			padding: 10px 15px;
			line-height: 1;
			text-decoration: none;
       @include border-radius(2px);
        &:hover{
          color: #a5fdd8;
        }
		}
	}
}